<% content_for(:page_header) { t(".page_header") } %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>
</div>

<div class="govuk-width-container">
  <h2 class="govuk-heading-m"><%= t(".outgoing_trust") %></h2>
  <dl class="govuk-summary-list">
    <%= summary_row(@outgoing_trust, :trust_name, change_url: trusts_path) %>
    <%= summary_row(@outgoing_trust, :trust_reference_number) %>
  </dl>
</div>

<div class="govuk-width-container">
  <h2 class="govuk-heading-m"><%= t("academy_details") %></h2>

  <% @academies.each do |academy| %>
    <dl class="govuk-summary-list">
      <%= summary_row(academy, :academy_name, change_url: trust_academies_path(@outgoing_trust.id)) %>
      <% [
         :urn,
         :local_authority_name,
         :establishment_type,
         :religious_character,
         :ofsted_rating,
         :ofsted_inspection_date_formatted,
         :pfi
       ].each do |attribute| %>
        <%= summary_row academy, attribute %>
      <% end %>
    </dl>
  <% end %>
</div>

<div class="govuk-width-container">
  <h2 class="govuk-heading-m"><%= t(".incoming_trusts") %></h2>

  <% @incoming_trusts.each do |incoming_trust| %>
    <dl class="govuk-summary-list">
      <%= summary_row(incoming_trust, :trust_name, change_url: trust_incoming_trusts_path(@outgoing_trust.id)) %>
      <% [
           :companies_house_number,
           :trust_reference_number,
           :establishment_type
         ].each do |attribute| %>
        <%= summary_row(incoming_trust, attribute) %>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><%= t(".address") %></dt>
        <dd class="govuk-summary-list__value">
          <% incoming_trust.address.split(/[\n\r$\,]+/).each do |address_line| %>
            <p class="govuk-body"><%= address_line %></p>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
  <% end %>
</div>

<div class="govuk-width-container">
  <%= link_to t(".next_action_link"), trust_projects_path(@outgoing_trust_id), method: :post, class: "govuk-button" %>
</div>
