<% content_for(:page_header) { t(".page_header") } %>

<div class="govuk-width-container"><br>
  <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <%= tab_link(:transfers, selected: true)  %>
    <%= tab_link(:conversions)  %>
    <%= tab_link(:significant_change)  %>
    <%= tab_link(:concerns)  %>
  </ul>
  <%= render_as_tab :transfers %>
  <%= render_as_tab :conversions %>
  <%= render_as_tab :significant_change %>
  <%= render_as_tab :concerns %>
</div>
